*~
*.pyc
*.pyo

.DS_Store
._*
*.sublime-workspace
*.swo
*.swp

*.aux
*.auxlock
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.toc
*.fls
*.out

*.egg-info
*.egg
virtual/
dist/
build/
.eggs/
.venv/
